
body{
  display: block;
  min-height: 100vh;
  background:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url("/static/app/images/background1.png");
  background-repeat: no-repeat;
  background-size:100% 100%;
  position:relative;

}

#page-content{
  margin-top:8rem;
  min-height: 100vh;

}
.bg_grad{
  background-image:linear-gradient(to right,#e81cff,#40c9ff) ;
}
.gb_grad_right{
  background-image:linear-gradient(to right,#e81cff,#40c9ff) ;
}
.gb_grad_left{
  background-image:linear-gradient(to left,#e81cff,#40c9ff) ;
}
.text_native{
  color: #e81cff;
}
.bg_nav{
  background-color: #e81cff;
}
.bg_content{
  background-color: #40c9ff;
}
.text_content{
  color:#40c9ff
}

#header-content{
  position: fixed;
  width:100%;
  z-index:5;
  top: 0;
  min-height: 10vh;
}

@media screen and (min-width:992px){
  .nav-item {
  line-height:80px;
  }
}
.content-block{
  display:flex;
  min-height: 50vh;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width:750px){
	body{
		background-size: auto 100%;
	}
}
