
body{
  display: block;
  min-height: 100vh;
  background-image:  url("/static/app/images/background1.png");
  background-repeat: no-repeat;
  background-size:100% 100%;
  position:relative;

}

#page-content{
  margin-top:8rem;

}

#header-content{
  position: fixed;
  width:100%;
  z-index:5;
  top: 0;
  min-height: 10vh;
}
#main-content{
}

#page-footer{
	position:absolute;
	bottom:0px;
	width:100%;
}



@media screen and (min-width:992px){
  .nav-item {
  line-height:80px;
  }
}
@media screen and (max-width:750px){
	body{
		background-size: auto 100%;
	}
}
