{% extends 'app/layout.html' %}

{% block title %}
about_us
{% endblock %}

{% block main %}
<div class="container ">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 page-content bg-primary mt-5 p-4 rounded text-center">
      <p>Based on statistics</p>
      <h3 class="text-center">
      Clothes and shoes bought online have the highest rates of return - anywhere from 30-40% return rate.
      </h3>
      <p class="text-info">We set up to offer a Measurements as Service platform to help tackle this problem</p>
    </div>
  </div>

</div>
{% endblock %}
