{% extends 'app/layout.html' %}

{% load static %}

{% block title %}
  home
{% endblock %}

{% block main %}
<div class="mt-3">
  <div class="container h-100">
    <div class="row text-center ">
      <div class="col-sm-12 col-md-6">
      <img class="img-fluid" src="{% static 'app/images/measure3.png' %}" />
      </div>
      <div class="col-sm-12 col-md-6">
	<div  class="container bg_content content-block align-items-center justify-content-center text-white border-secondary rounded">
      <div class="container">
        <p>We help you keep all your Wears Measurements</p>
      </div>
		<h3 class="bg-dark d-block opaque text-white w-100">For Perfect Fit </h3>
    </div>
	</div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
