{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'app/css/main.css' %}">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-dark p-2 bg-dark fs-5" id="headerNav">
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none" href="{% url home_page %}">
      <img src="{% static 'app/images/measureit_logo.png' %}" height="90" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 {% if is_home %} active {% endif %}" aria-current="page" href="{% url home_page %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Products</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link mx-2" href="{% url home_page %}">
            <img src="{% static 'app/images/measureit_logo.png' %}" height="90" />
          </a>
        </li>
        {% if not user.is_authenticated %}
        <li class="nav-item" id="login">
          <a class="nav-link  mx-2" href="{% url login_page %}">
            <button class="btn btn-primary">
              Login <i class="fa-solid fa-right-to-bracket"></i>
            </button>
            </a>
        </li>

        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Company
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url about_us %}">About Us</a></li>
            <li><a class="dropdown-item" href="{% url contact_us %}">Contact us</a></li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <button class="btn btn-success">
              <i class="fa-solid fa-user"></i> : {{ user.username|title }}
            </button>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item text-center" id="logout">
          <form method="POST" action="{% url logout_page %}">
              <button class="btn btn-danger btn-sm">
                Logout
              </button>
            {% csrf_token %}
          </form>
        </li>
          </ul>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
