{% extends "app/layout.html" %}

<!--Page Title-->
{% block title %}Registration Page{% endblock %}

{% block header %}
<!-- Navigation not needed-->
{% endblock %}

{% block main %}
{% include "app/icon_heading.html" %}
<div class="container">
  <h2 class="text-center m-3 justify-content-center align-items-center">
    <span class="text-white rounded m-3">Registration Page</span> </h2>
</div>

<div class="container h-100">
<form method="POST" action="{% url 'register_user' %}" novalidate>

	{% include "app/notifications.html" %}
	<div class="row m-5 justify-content-center align-items-center p-3 ">
	<div class="form-floating col-sm-8 col-md-6 col-lg-4 p-1">
		<input class="form-control" type="text" placeholder="Username" id="username" name="username" {% if username %} value={{ username }} {% endif %} required/>
		<label class="form-label text-secondary" for="username">Username
		</label>
	</div>

	<div class="form-floating col-sm-8 col-md-6 col-lg-4  p-1">
		<input class="form-control" type="text" placeholder="First Name" id="first_name" name="first_name" {% if first_name %} value={{ first_name }} {% endif %} required/>
		<label class="form-label text-secondary" for="first_name">Firstname
		</label>
	</div>

	<div class="form-floating col-sm-8 col-md-6 col-lg-4  p-1">
		<input class="form-control" type="text" placeholder="Last Name" id="last_name" name="last_name" {% if last_name %} value={{ last_name }} {% endif %} required/>
		<label class="form-label text-secondary" for="last_name">Lastname
		</label>
	</div>

	<div class="form-floating col-sm-8 col-md-6 col-lg-4 p-1">
		<input class="form-control" type="email" placeholder="Email" id="email" name="email" {% if email %} value={{ email }} {% endif %} required/>
		<label class="form-label text-secondary" for="email">Email
		</label>
	</div>

	<div class="form-floating col-sm-8 col-md-6 col-lg-4 p-1">
		<input class="form-control" type="password" placeholder="Password" id="password" name="password" required/>
		<label class="form-label text-secondary" for="password">Password
		</label>
	</div>

	<div class="form-floating col-sm-8 col-md-6 col-lg-4 p-1">
		<input class="form-control" type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password" required/>
		<label class="form-label text-secondary" for="confirm_password">Confirm Password
		</label>
	</div>

	<div class="col-sm-8 col-md-6 col-lg-4 p-1 ">
    <div class="input-group">
      <label class="input-group-text text-secondary" for="account_type">Account Type
      </label>
      <select class="form-select"  id="account_type" name="account_type" required>
      <option value="BU">Business</option>
      <option value="IN">Individual</option>
      </select>
    </div>
	</div>
</div>

<div class="row justify-content-center align-items-center">
  <div class="col-auto text-center">
    <a href="{% url 'login_page' %}" class="btn btn-auto  btn-primary ">Back to Login<i class="fa-solid fa-right-to-bracket"></i></a>
    </div>
	<div class="col-auto text-center">
	<button class="btn btn-auto  btn-success text-white">Submit </button>
	</div>
	</div>
	{% csrf_token %}
</form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', e =>{
    if (!form.checkValidity()){
      e.preventDefault();
    }
    form.classList.add('was-validated')
  } )
</script>
{% endblock %}
