{% extends "app/layout.html" %}

<!--Page Title-->
{% block title %}reset password{% endblock %}

{% block header %}
<!-- Navigation not needed-->
{% endblock %}

{% block main %}
{% include "app/icon_heading.html" %}
<div class="container">
  <h2 class="text-center m-3 justify-content-center align-items-center">
    <span class="text-white rounded m-3">Password Reset</span> </h2>
</div>

<div class="container h-100">
<form method="POST" action="" novalidate>

	{% include "app/notifications.html" %}
	<div class="row m-1 justify-content-center align-items-center">

	<div class="form-floating col-sm-8 col-md-6 col-lg-4 p-1">
		<input class="form-control" type="password" placeholder="Password" id="password" name="password1" required/>
		<label class="form-label text-secondary" for="password1">Password
		</label>
	</div>
  </div>

  <div class="row m-1 justify-content-center align-items-center">
	<div class="form-floating col-sm-8 col-md-6 col-lg-4 p-1">
		<input class="form-control" type="password" placeholder="Confirm Password" id="confirm_password" name="password2" required/>
		<label class="form-label text-secondary" for="confirm_password">Confirm Password
		</label>
	</div>
  </div>

	<div class="col-auto text-center mt-3">
	<button class="btn btn-auto  btn-success text-white">Submit </button>
	</div>
	</div>
	{% csrf_token %}
</form>

</div>
{% endblock %}

{% block script %}
<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', e =>{
    if (!form.checkValidity()){
      e.preventDefault();
    }
    form.classList.add('was-validated')
  } )
</script>
{% endblock %}
